<ul style="list-style-type: decimal;">
	<li><a href="app/index.html" target="_blank">index.html</a></li>
	<li><a href="app/time.html" target="_blank">time.html</a></li>
	<li><a href="app/registration.html" target="_blank">registration.html</a></li>
	<li><a href="app/popup.html" target="_blank">popup.html</a></li>
	<li><a href="app/feedback.html" target="_blank">feedback.html</a></li>
	<li><a href="app/error.html" target="_blank">error.html</a></li>
	<li><a href="app/download.html" target="_blank">download.html</a></li>
	<li><a href="app/authorization.html" target="_blank">authorization.html</a>

	<li><a href="app/winners.html" target="_blank">winners.html</a></li>

	<li><a href="app/cabinet.html" target="_blank">cabinet.html</a></li>

	<li><a href="app/about.html" target="_blank">about.html</a></li>
</ul>