/* Opium */
/*@font-face {
    font-family:'Opium';
    src: url('../fonts/opium/opium-bold.ttf') format('truetype'),
        url('../fonts/opium/opium-bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family:'Opium';
    src: url('../fonts/opium/opium-bold.ttf') format('truetype'),
        url('../fonts/opium/opium-bold.otf') format('opentype');
    font-weight: 400;
}*/




@font-face {
    font-family: 'Opium';
    src: url('../fonts/opium/opiumnewc-webfont.eot');
    src: url('../fonts/opium/opiumnewc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opium/opiumnewc-webfont.woff2') format('woff2'),
         url('../fonts/opium/opiumnewc-webfont.ttf') format('truetype'),
         url('../fonts/opium/opiumnewc-webfont.svg#opiumnewcregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Opium';
    src: url('../fonts/opium/opiumnewc-bold-webfont.eot');
    src: url('../fonts/opium/opiumnewc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opium/opiumnewc-bold-webfont.woff2') format('woff2'),
         url('../fonts/opium/opiumnewc-bold-webfont.ttf') format('truetype'),
         url('../fonts/opium/opiumnewc-bold-webfont.svg#opiumnewcbold') format('svg');
    font-weight: 700;
    font-style: normal;

}



/*
@font-face {
    font-family: 'Opium';
    src: url('../fonts/opium/opiumnewc-bolditalic-webfont.eot');
    src: url('../fonts/opium/opiumnewc-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opium/opiumnewc-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opium/opiumnewc-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opium/opiumnewc-bolditalic-webfont.svg#opiumnewcbold_italic') format('svg');
    font-weight: 700;
    font-style: initial;

}




@font-face {
    font-family: 'Opium';
    src: url('../fonts/opium/opiumnewc-italic-webfont.eot');
    src: url('../fonts/opium/opiumnewc-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opium/opiumnewc-italic-webfont.woff2') format('woff2'),
         url('../fonts/opium/opiumnewc-italic-webfont.ttf') format('truetype'),
         url('../fonts/opium/opiumnewc-italic-webfont.svg#opiumnewcitalic') format('svg');
    font-weight: 400;
    font-style: initial;

}*/

/* Andantino */
@font-face {
    font-family:'Andantino';
    src: url('../fonts/andantino/Andantino script.eot');
    src: url('../fonts/andantino/Andantino script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/andantino/Andantino script.woff2') format('woff2'),
        url('../fonts/andantino/Andantino script.woff') format('woff'),
        url('../fonts/andantino/Andantino script.ttf') format('truetype'),
        url('../fonts/andantino/Andantino script.otf') format('opentype'),
        url('../fonts/andantino/Andantino script.svg#Andantino script') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}


