

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* стили только для IE10 */
   .gradient-text {
    color: #d7bf6c !important;
    -webkit-text-fill-color: #d7bf6c !important;
    background: transparent !important;
   }
   h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #d7bf6c !important;
    -webkit-text-fill-color: #d7bf6c !important;
    background: transparent !important;
   }
   h1 span, .h1 span, h2 span, .h2 span, h3 span, .h3 span, h4 span, .h4 span, h5 span, .h5 span, h6 span, .h6 span {
    color: #d7bf6c !important;
    -webkit-text-fill-color: #d7bf6c !important;
    background: transparent !important;
   }
   .txt,
   .personal_list li,
   .figure-akcia figcaption.with_text div > span,
   .figure-bottom-item,
   .cabinet_table th, .cabinet_table td, .cabinet_table div, .cabinet_table span, .cabinet_table time,
   .pagination a,
   label, .form_label,
   .jq-selectbox__select,
   .form_label_checkbox span,
   .jq-file__name,
   .accordion-box dt span,
   .accordion-box.view2 dd span,
   .figure-akcia figcaption.with_text div > span span,
   .accordion-box dd,
   .winners_table tbody td:before,
   .accordion-box dd table,
   .accordion-box dd ul li,
   .accordion-box dd ul li::before,
   .accordion-box dd a ,
   .form_label_checkbox a,
   .jq-selectbox li{
    color: #d7bf6c !important;
    -webkit-text-fill-color: #d7bf6c !important;
    background: transparent !important;
   }
   .jq-selectbox li:hover,
   .jq-selectbox li.selected{
      background: #074e25 !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff !important;
   }

       /* when you select text is added to a custom style  */

    ::-moz-selection{
       -webkit-text-fill-color: #0E7630 !important;
        background: #d7bf6c;
        color: #0E7630;
    }

    ::selection{
        -webkit-text-fill-color: #0E7630 !important;
        background: #d7bf6c;
        color: #0E7630;
    }

   ::-moz-selection{
        -webkit-text-fill-color: #0E7630 !important;
        background: #d7bf6c;
       color: #0E7630;
    }

    /* !!! */
}
