/*====>>  Stylesheet Guide START  <<====*/
/*<<=========================================>>

        1. DEFAULT Stylesheets
        2. BASIC classes
            2.1.      Typography
            2.2.      FORM
            2.3.      BREADCRUMBS
            2.4.      PRELOADER
            2.5.      ANCHOR TO TOP
        3. HEADER
        4. CONTENT
        5. FOOTER 
        
        <<=========================================>>*/
/*====>>  Stylesheet Guide END    <<====*/
/* */
/*** MIXINS ***/
/**/
/* =================  BACKGROUNDS START*/
/* =========================*/
/* =================  BACKGROUNDS END*/
/* =================  TRIANGLE START*/
/* =================  TRIANGLE END*/
/* =================  PLACEHOLDER START*/
/* =================  PLACEHOLDER END*/
/*  <!-- 2. DEFAULT Stylesheets
============================================ --> */
html, body {
  width: 100%;
  min-height: 100%;
}

.page_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: 'Opium';
  font-size: 18px;
  line-height: 1.57;
  font-weight: 400;
  font-style: normal;
  color: #d7bf6c;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  min-width: 320px;
}

/* when you select text is added to a custom style  */
::-moz-selection {
  -webkit-text-fill-color: #fff;
  background: #d7bf6c;
}

::selection {
  -webkit-text-fill-color: #fff;
  background: #d7bf6c;
}

::-moz-selection {
  -webkit-text-fill-color: #fff;
  background: #d7bf6c;
}

/* !!! */
/* custom style to scroll (only in chrome) */
::-webkit-scrollbar {
  background: #e2e2e2;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0e7630;
}

/* !!! */
/*  <!-- 3. BASIC classes
============================================ --> */
/*==========>>    <<==========*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

/*==========>>    <<==========*/
.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.al_justify {
  text-align: justify;
}

/*==========>>    <<==========*/
.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.mb96 {
  margin-bottom: 96px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb38 {
  margin-bottom: 38px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb33 {
  margin-bottom: 33px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb7 {
  margin-bottom: 7px;
}

/*==========>>    <<==========*/
.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

/*==========>>    <<==========*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>    <<==========*/
.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_i {
  display: inline;
}

.d_none {
  display: none;
}

.d_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex_middle {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*==========>>    <<==========*/
* a,
* button {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

* a:hover,
  * button:hover {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a {
  color: inherit;
}

[data-popup] {
  cursor: pointer;
}

/* btn*/
[class*="btn-"] {
  padding: 11.5px 20px;
  font-family: 'Opium';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  max-width: 100%;
}

.btn-xl {
  width: 267px;
  font-size: 20px;
  line-height: 22px;
}

.btn-lg {
  width: 253px;
}

.btn-lg2 {
  width: 201px;
}

.btn-lg3 {
  padding: 10.5px 20px;
  width: 222px;
  font-size: 20px;
  line-height: 1.2;
}

.btn-md {
  width: 181px;
}

.btn-sm {
  width: 222px;
  font-size: 20px;
  line-height: 22px;
  padding: 10px 10px;
}

.btn-xs {
  width: 197px;
  padding: 11.5px 10px;
}

.btn-radius {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn-fon {
  background: url(../images/btn-fon.png) 0 50% no-repeat;
}

.btn-fon2 {
  background: url(../images/btn-fon2.png) 0 50% no-repeat;
}

.btn-fon3 {
  background: url(../images/btn-fon3.png) 50% 50% no-repeat;
}

.btn-fon4 {
  background: url(../images/btn-fon4.png) 50% 50% no-repeat;
}

.btn-fon5 {
  background: url(../images/btn-fon5.png) 50% 50% no-repeat;
}

.btn-fon6 {
  background: url(../images/btn-fon6.png) 50% 50% no-repeat;
}

.btn-red {
  background: #de1424;
}

/* link*/
[class*="link-"] {
  text-decoration: underline;
}

[class*="link-"]:hover {
  text-decoration: none;
}

.link-uppercase {
  text-transform: uppercase;
}

[class*="link-icon-"] {
  font-family: 'Opium';
  position: relative;
}

[class*="link-icon-"] i {
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

[class*="link-bd"] {
  position: relative;
  display: inline;
}

[class*="link-bd"]:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#abae5f), to(#c7cda2));
  background: -webkit-linear-gradient(left, #abae5f 0%, #c7cda2 100%);
  background: -o-linear-gradient(left, #abae5f 0%, #c7cda2 100%);
  background: linear-gradient(to right, #abae5f 0%, #c7cda2 100%);
}

[class*="link-bd"]:hover:after {
  background: transparent;
}

.link-wr-bd:hover span:after {
  background: transparent;
}

.link-bd2:after {
  height: 1px;
}

.link-xl {
  font-size: 24px;
  line-height: 1.2;
}

.link-sm2 {
  font-size: 24px;
}

.link-sm {
  font-size: 20px;
}

.link-xs {
  font-size: 12px;
}

.link-white {
  color: #fff;
}

/*==========>>  2.1.     Typography   <<==========*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Opium';
  line-height: 1.3;
  font-weight: 700;
  color: inherit;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 span, .h1 span,
  h2 span, .h2 span,
  h3 span, .h3 span,
  h4 span, .h4 span,
  h5 span, .h5 span,
  h6 span, .h6 span {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.mb96, .h1.mb96,
  h2.mb96, .h2.mb96,
  h3.mb96, .h3.mb96,
  h4.mb96, .h4.mb96,
  h5.mb96, .h5.mb96,
  h6.mb96, .h6.mb96 {
  margin-bottom: 96px;
}

h1, .h1 {
  font-size: 45px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 25px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 18px;
}

p {
  margin-bottom: 25px;
}

.fz26 {
  font-size: 26px;
  line-height: 1;
}

.fz24 {
  font-size: 24px;
  line-height: 1;
}

.fz20 {
  font-size: 20px;
  line-height: 1;
}

.fz18 {
  font-size: 18px;
  line-height: 23px;
}

.fz16 {
  font-size: 16px;
  line-height: 1;
}

.fz14 {
  font-size: 14px;
  line-height: 1;
}

.fz12 {
  font-size: 12px;
  line-height: 1;
}

.fz10 {
  font-size: 10px;
  line-height: 12px;
}

.opium {
  font-family: 'Opium';
}

.reg {
  font-weight: 400;
}

.bd {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.ttu {
  text-transform: uppercase;
}

/* colors*/
.black {
  color: #000;
}

.white {
  color: #fff;
}

.txt {
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt span {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*==========>>  2.2.     FORM   <<==========*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form_row_2col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 31px;
}

.form_wrap {
  width: -webkit-calc(50% - 25px);
  width: calc(50% - 25px);
}

.form_row:not(:last-child) {
  margin-bottom: 20px;
}

.form_row.form_checkbox {
  margin-bottom: 38px;
}

.form_row.mxw300 {
  max-width: 300px;
}

.form_checkbox {
  margin-bottom: 38px;
  line-height: 0;
}

label,
.form_label {
  font-family: 'Opium';
  display: inline-block;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 18px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label.requaired,
  .form_label.requaired {
  position: relative;
}

label.requaired:after,
    .form_label.requaired:after {
  content: "*";
}

.form_label_checkbox {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_label_checkbox span {
  font-family: 'Opium';
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_label_checkbox a {
  font-family: 'Opium';
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_label_checkbox:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #E70250;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form_label_checkbox:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 2px;
  width: 5px;
  height: 10px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  display: block;
  margin: 3px 0 0 6px;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  -o-transition: transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  border-color: transparent;
}

input,
.form_input {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  font-family: 'Opium';
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid #E70250;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  background-color: transparent;
  color: #D7BF6C;
}

input[type="checbox"],
.form_input_checkbox {
  display: none;
}

input[type="checbox"]:checked + label:before,
  input[type="checbox"]:checked + .form_label_checkbox:before,
  .form_input_checkbox:checked + label:before,
  .form_input_checkbox:checked + .form_label_checkbox:before {
  background-color: #E70250;
  border-color: #E70250;
}

input[type="checbox"]:checked + label:after,
  input[type="checbox"]:checked + .form_label_checkbox:after,
  .form_input_checkbox:checked + label:after,
  .form_input_checkbox:checked + .form_label_checkbox:after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  border-color: #FFF;
}

.form_textarea_wrap {
  line-height: 0;
}

.form_textarea_wrap span {
  position: absolute;
  bottom: 11px;
  left: 17px;
  right: 30px;
}

.form_textarea_wrap .form_textarea {
  padding-bottom: 50px;
}

.form_textarea_wrap a.link-bd2 {
  display: inline-block;
}

.form_textarea {
  width: 100%;
  min-height: 50px;
  padding: 14px 16px;
  font-family: 'Opium';
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid #E70250;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  background-color: transparent;
  color: #D7BF6C;
  resize: vertical;
}

.form_textarea.h160 {
  min-height: 160px;
}

.form_indent {
  margin-top: 17px;
  margin-bottom: 38px;
  margin-right: -50px;
}

.form_captcha {
  width: 186px;
  height: 50px;
  margin-top: 43px;
}

.form_captcha label,
  .form_captcha .form_label {
  opacity: 0;
  visibility: hidden;
}

.form_captcha + .form_links {
  padding-left: 10px;
  line-height: 24px;
}

.form_button {
  text-align: center;
}

.form_button a {
  display: block;
  margin: auto;
}

/*==========>>   plugins   <<==========*/
/* carousel*/
.carousel_wrap {
  margin: 0 -16px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  content: "";
  position: absolute;
  top: 50%;
  width: 14.5px;
  height: 14.5px;
  border-top: solid 2px #003357;
  border-right: solid 2px #003357;
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -27px;
  -ms-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
  -webkit-transform: translateY(-50%) rotate(-135deg);
  -moz-transform: translateY(-50%) rotate(-135deg);
  -o-transform: translateY(-50%) rotate(-135deg);
}

.owl-carousel .owl-nav button.owl-next {
  right: -27px;
}

.carousel_item {
  margin: 0 16px;
}

/* carousel end*/
/* scroll */
.js-scroll {
  height: 505px;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding-right: 20px;
}

.mCSB_scrollTools {
  z-index: 9;
  right: 0px;
  opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #3d7658;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  background-color: #e70250 !important;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #e70250 !important;
}

/* scroll end*/
/* modal popup*/
.arcticmodal-overlay {
  background-color: #fff !important;
  opacity: 0.4 !important;
}

.arcticmodal_container_box {
  max-width: 100%;
  background: #074b24;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #074b24 0%, #0e7630 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#074b24), to(#0e7630));
  background: -o-linear-gradient(left, #074b24 0%, #0e7630 100%);
  background: linear-gradient(to right, #074b24 0%, #0e7630 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074b24', endColorstr='#0e7630',GradientType=1 );
}

[class*='modal_box'] {
  width: 910px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

[class*='modal_box'] > *:not(.arcticmodal-close):not([class*='modal_abs_img']) {
  position: relative;
  z-index: 2;
}

.modal_box2 {
  width: 562px;
}

.modal_box3 {
  width: 533px;
}

.modal_box4 {
  min-width: 800px;
  width: auto;
  text-align: center;
}

.modal_box4 .modal_abs_img5 {
  right: 35px;
}

[class*="modal_abs_img"] {
  position: absolute;
  z-index: 0;
}

.modal_abs_img {
  top: 0;
  left: 0;
}

.modal_abs_img2 {
  bottom: 137px;
  right: 0;
}

.modal_abs_img3 {
  right: 0;
  top: 157px;
}

.modal_abs_img4 {
  bottom: 0;
  right: 0;
}

.modal_abs_img5 {
  bottom: 50px;
  right: 0;
}

.modal_abs_img6 {
  top: 94px;
  right: 0;
}

.modal_indent {
  padding: 39px 130px 59px;
}

.modal_indent2 {
  padding: 52px 30px;
}

.modal_indent3 {
  padding: 55px 80px 50px;
}

.modal_indent4 {
  /* padding: 49px 67px 42px;*/
  padding: 49px 141px 42px;
}

.arcticmodal-close {
  font-size: 0 !important;
  background: url(../images/icons/close-icon.png) 50% 50% no-repeat;
  right: 20px;
  top: 20px;
}

/* modal popup end*/
/* select*/
.form_select,
.jq-selectbox {
  width: 100%;
}

.form_select.opened .jq-selectbox__trigger-arrow,
  .jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.jq-selectbox__select {
  width: 100%;
  height: auto;
  padding: 14px 45px 14px 16px;
  font-family: 'Opium';
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  border: solid 2px #E70250 !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #D7BF6C;
  text-shadow: none !important;
  cursor: pointer;
}

.jq-selectbox__select-text {
  width: 100% !important;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 50%;
  right: 16px;
  width: auto;
  border: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jq-selectbox__trigger-arrow {
  width: 17px;
  height: 11px;
  background: url(../images/icons/arrow-icon.png) 50% 50% no-repeat;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.jq-selectbox__dropdown {
  margin: 0;
  width: 100%;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  border: solid 2px #E70250;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  -webkit-border-radius: 0;
  border-radius: 0;
}

.jq-selectbox li {
  min-height: inherit;
  padding: 13px 24px;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jq-selectbox li:hover, .jq-selectbox li.selected {
  background: #074e25;
  -webkit-text-fill-color: #fff;
}

/* select end */
/* file */
.jq-file {
  display: block;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom-color: #E70250;
  height: 50px;
  padding: 12px 0;
  cursor: pointer;
  width: 100%;
}

.jq-file input {
  height: 50px;
  cursor: pointer;
}

.jq-file__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jq-file__browse {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -13.5px;
  width: 26px;
  height: 27px;
  background: url(../images/icons/file-icon.png) 0 0 no-repeat;
}

/* tooltip */
.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin: 0 !important;
}

.tooltip_templates {
  display: none;
}

.tooltipster-arrow {
  display: none;
}

.tooltipster-sidetip .tooltipster-box {
  text-align: center;
  border: none;
  padding: 32px 30px;
  background: #074b24;
  background: -webkit-linear-gradient(left, #074b24 0%, #0e7630 100%);
  background: -webkit-gradient(linear, left top, right top, from(#074b24), to(#0e7630));
  background: -o-linear-gradient(left, #074b24 0%, #0e7630 100%);
  background: linear-gradient(to right, #074b24 0%, #0e7630 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074b24', endColorstr='#0e7630',GradientType=1 );
}

/* file end */
/*==========>>  2.3.     BREADCRUMBS   <<==========*/
.breadcrumbs_container {
  padding-top: 30px;
  padding-bottom: 44px;
}

.breadcrumbs_container [class*="col"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.breadcrumbs_container [class*="col"]:before, .breadcrumbs_container [class*="col"]:after {
  display: none;
}

.breadcrumbs {
  display: block;
  list-style: none;
}

.breadcrumbs_it {
  position: relative;
  float: left;
  padding-right: 9px;
  margin-right: 3px;
}

.breadcrumbs_it:before {
  content: attr(data-bread-arr);
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}

.breadcrumbs_it a {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs_it a:hover span {
  text-decoration: underline;
}

.breadcrumbs_it.fz18:before {
  font-size: 18px;
  line-height: 1.2;
}

.breadcrumbs_it.fz18 .breadcrumbs_current {
  font-size: 18px;
  line-height: 1.2;
}

.breadcrumbs .breadcrumbs_it:last-child:before {
  display: none;
}

.breadcrumbs .breadcrumbs_it:first-child a {
  padding-left: 0;
}

.breadcrumbs_current {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}

.back_link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.back_link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  border-bottom: solid 1px #003357;
}

/*==========>>  2.4.     PRELOADER   <<==========*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #004c1f;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*==========>>  2.5.     ANCHOR TO TOP   <<==========*/
.back_to_top {
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #333;
  z-index: 99;
}

.back_to_top:hover {
  background-color: #0066cc;
}

.back_to_top i {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.back_to_top.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

/*  <!-- 4. HEADER 
============================================ --> */
#header {
  padding: 10.5px 0;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  box-shadow: 0 0 38px 15px rgba(30, 63, 17, 0.5);
}

.header_fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.header_fix + * {
  padding-top: 70px;
}

.header_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation_menu {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.navigation_menu.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.js-btn-menu {
  position: relative;
  z-index: 10;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.js-btn-menu span {
  position: absolute;
  top: 50%;
  left: 3.5px;
  right: 3.5px;
  height: 2px;
  display: block;
  margin-top: -1px;
  background: #e5c674;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.js-btn-menu span:before, .js-btn-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e5c674;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.js-btn-menu span:before {
  top: -7px;
}

.js-btn-menu span:after {
  bottom: -7px;
}

.js-btn-menu.active span {
  background: none;
}

.js-btn-menu.active span:before, .js-btn-menu.active span:after {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.js-btn-menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.js-btn-menu.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_item {
  padding: 0 11px;
}

.menu_link {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.menu_link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 100%;
  height: 3px;
  display: block;
  background-color: #d7bf6c;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #d7bf6c), color-stop(100%, #faefc5));
  background-image: -webkit-linear-gradient(left, #d7bf6c 0%, #faefc5 100%);
  background-image: -o-linear-gradient(left, #d7bf6c 0%, #faefc5 100%);
  background: -webkit-gradient(linear, left top, right top, from(#d7bf6c), color-stop(100%, #faefc5));
  background: -webkit-linear-gradient(left, #d7bf6c 0%, #faefc5 100%);
  background: -o-linear-gradient(left, #d7bf6c 0%, #faefc5 100%);
  background: linear-gradient(to right, #d7bf6c 0%, #faefc5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu_link:hover:after, .menu_link.current:after {
  right: 0;
}

.login_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.login_link div {
  margin-left: 6px;
  border-bottom: 2px solid #c6013f;
}

/*  <!-- 5. CONTENT 
============================================ --> */
#content {
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.indent {
  padding-top: 97px;
  padding-bottom: 60px;
}

.indent2 {
  padding-top: 92px;
  padding-bottom: 133px;
}

.indent3 {
  padding-top: 62px;
  padding-bottom: 72px;
}

.bg_fon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg_big {
  background-color: #021513;
  background-position: 50% 0;
}

/* - - - - - - - - - - .first_screen - - - - - - - - - - */
.first_screen {
  padding: 114px 0;
  min-height: 670px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first_screen.full {
    /*height: 100vh !important;*/
  padding: 10px 0;
  min-height: 100vh !important;
}

.first_screen_slogan {
  margin-bottom: 57px;
}

.first_screen_wrap {
  width: 370px;
  max-width: 100%;
}

.time_container {
  /* min-height: 230px;*/
  text-align: center;
  margin-bottom: 60px;
  padding: 35px 20px 48px;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.time_title {
  margin-bottom: 26px;
}

.timer-main {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 102px;
  margin: 0 5px;
  padding: 13px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

.timer-main:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #A3F0BD;
}

.timer-time {
  position: relative;
  z-index: 1;
  font-size: 60px;
  line-height: 1;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer-text {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 1;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first_screen_btn {
  display: block;
  margin: auto;
}

.first_screen_img {
  margin: 0 -40px 0 -20px;
}

.first_screen_img img {
  width: 100%;
}

.form_feedback {
  margin-right: -30px;
}

.form_feedback .form_checkbox {
  margin-bottom: 42px;
}

.form_feedback .form_button {
  text-align: left;
}

.form_feedback .form_button a {
  display: inline-block;
}

/* - - - - - - - - - -/ end of .first_screen - - - - - - - - - - */
/* - - - - - - - - - - .second_screen - - - - - - - - - - */
.second_screen {
  position: relative;
}

.second_screen .container {
  position: relative;
  z-index: 2;
}

[class*="img_abs"] {
  position: absolute;
  z-index: 1;
}

.abs_box {
  position: relative;
}

.abs_box2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.img_abs1 {
  top: 90px;
  right: 45px;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.img_abs2 {
  left: 170px;
  top: 250px;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.img_abs3 {
  right: 37px;
  bottom: 0px;
  -webkit-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}

.img_abs4 {
  left: 0;
  bottom: 26px;
}

.img_abs5 {
  right: 0;
  bottom: 66px;
}

.img_abs6 {
  left: -100px;
  top: 180px;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.img_abs7 {
  top: 130px;
  right: -145px;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.img_abs8 {
  top: 50px;
  right: 75px;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.img_abs9 {
  left: 50px;
  top: 60px;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.figure_box {
  text-align: center;
}

.figure_box p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
}

.figure_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 149px;
  margin-bottom: 19px;
}

.figure_box_slogan {
  padding: 6px 28px;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #e70250;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* - - - - - - - - - -/ end of .second_screen - - - - - - - - - - */
/* - - - - - - - - - - .third_screen - - - - - - - - - - */
.third_screen {
  position: relative;
}

.ban_indent {
  padding: 15px 0 8px 38px;
}

.ban_indent2 {
  padding: 18px 16px 18px 38px;
}

.ban_indent3 {
  padding: 18px 16px 12px 30px;
}

.ban_2col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ban_2col .ban_box {
  width: -webkit-calc(50% - 20px);
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-bottom: 0;
}

.ban_box {
  /* padding: 15px 16px 15px 38px; */
  margin-bottom: 26px;
  border: 2px solid #E70250;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ban_box.view2 .ban_left {
  max-width: 250px;
}

.ban_box.view2 .ban_right {
  max-width: 165px;
}

.ban_box.d_flex .ban_right {
  min-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 520px;
}

.ban_right {
  text-align: center;
}

.ban_right img {
  display: block;
  margin: auto;
}

.ban_right img.d_none {
  display: none;
}

.ban_right img:nth-last-child(2) {
  margin-bottom: 20px;
}

.title_fon {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 280px;
  max-width: 100%;
  min-height: 79px;
  margin-left: -25px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  -webkit-background-size: contain;
  background-size: contain;
}

/* - - - - - - - - - -/ end of .third_screen - - - - - - - - - - */
/* - - - - - - - - - - .feedback_container - - - - - - - - - - */
.feedback_container {
  padding: 60px 0 78px;
}

.feedback_container .first_screen_img {
  margin-left: 0;
}

/* - - - - - - - - - -/ end of .feedback_container - - - - - - - - - - */
/* - - - - - - - - - - .accordion-box - - - - - - - - - - */
.accordion-box {
  position: relative;
  z-index: 2;
}

.accordion-box dt {
  position: relative;
  padding: 5px 25px 5px 60px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
}

.accordion-box dt:before, .accordion-box dt:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.accordion-box dt:after {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: url(../images/icons/plus-icon.png) 50% 50% no-repeat;
}

.accordion-box dt.active:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url(../images/icons/minus-icon.png);
}

.accordion-box dt span {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd {
  margin-bottom: 17px;
    /* padding-right: 45px;*/
  padding-right: 20px;
  padding-left: 58px;
  font-family: 'Opium';
    /* font-size: 18px;*/
  font-size: 16px;
  line-height: 22px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd a {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd ul {
  padding-left: 20px;
}

.accordion-box dd ul:not(:last-child) {
  margin-bottom: 20px;
}

.accordion-box dd ul li {
  position: relative;
  margin-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd ul li:before {
  content: "-";
  position: absolute;
  top: -2px;
  left: -20px;
  font-size: 30px;
  color: #d7bf6c;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd table {
  width: 100%;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-box dd table:not(:last-child) {
  margin-bottom: 20px;
}

.accordion-box dd table td {
  border: 1px solid;
  padding: 5px;
}

.accordion-box.view2 dt {
  text-align: left;
  padding-left: 70px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 24px;
  line-height: 1.3;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #084f27));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #084f27 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #084f27 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #084f27));
  background: -webkit-linear-gradient(left, #0e7630 0%, #084f27 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #084f27 100%);
  background: linear-gradient(to right, #0e7630 0%, #084f27 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.accordion-box.view2 dt:before, .accordion-box.view2 dt:after {
  top: 50%;
  left: 14px;
  margin-top: -20px;
  background-color: transparent;
}

.accordion-box.view2 dt span + span {
  font-size: 18px;
  line-height: 1.2;
}

.accordion-box.view2 dd {
  padding: 26px 118px 41px;
  margin-top: -10px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.accordion-box.view2 dd span {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* - - - - - - - - - -/ end of .accordion-box - - - - - - - - - - */
/* - - - - - - - - - - .cabinet_container - - - - - - - - - - */
.cabinet_container {
  padding: 61px 0;
}

.cabinet_box {
  margin-bottom: 80px;
}

.personal_info {
  padding: 33px 26px 31px 26px;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.personal_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 280px;
  margin-bottom: 50px;
}

.personal_list li {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal_list li:not(:last-child) {
  margin-bottom: 19px;
  margin-right: 33px;
}

.personal_list li:last-child {
  width: 100%;
}

.personal_title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.akcia-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.figure-akcia {
  position: relative;
  width: -webkit-calc(33.3% - 15px);
  width: calc(33.3% - 15px);
  padding: 25px 16px 20px;
  border: 1px solid #D7BF6C;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* &.active,*/;
}

.figure-akcia figcaption {
  min-height: 139px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.figure-akcia figcaption.with_text div > span {
  position: absolute;
  top: 30px;
  right: 10px;
  left: 10px;
  bottom: 50px;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.figure-akcia figcaption.with_text div > span span {
  font-size: 18px;
  line-height: 20px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.figure-akcia:hover {
  background-color: #2B6832;
}

.figure_title {
  padding: 0 16px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.figure-bottom {
  min-height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.figure-bottom-item {
  min-width: 116px;
  padding: 8px 18px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #E70250;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.akcia_img_resp {
  display: none;
}

.cabinet_table {
  width: 100%;
  margin-bottom: 30px;
  line-height: 1.1;
  font-weight: 700;
  /* text-align: center;*/;
}

.cabinet_table th {
  font-size: 16px;
  line-height: 1.2;
  padding: 8px 20px;
  text-align: left;
}

.cabinet_table tr {
  vertical-align: middle;
}

.cabinet_table tr:first-child {
  background-color: rgba(255, 255, 255, 0.1);
}

.cabinet_table tr:not(:first-child) {
  border-bottom: 2px solid #339159;
}

.cabinet_table tr:not(:first-child):hover {
  background-color: rgba(253, 240, 83, 0.18);
}

.cabinet_table td {
  padding: 20px 20px;
}

.cabinet_table time {
  font-size: 14px;
  line-height: 20px;
}

.cabinet_table th:first-child {
  text-align: center;
}

.cabinet_table td:first-child {
  text-align: center;
}

.cabinet_table th,
  .cabinet_table td,
  .cabinet_table div,
  .cabinet_table span,
  .cabinet_table time {
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cabinet_table .d_ib {
  vertical-align: middle;
}

.alert {
  position: relative;
}

.alert.mini .alert-icon {
  width: 17px;
  height: 17px;
}

.pagination li {
  float: left;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.pagination li:not(:last-child) {
  margin-right: 10px;
}

.pagination li.active {
  background: #E70250;
}

.pagination a {
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 1.2;
  padding: 5px 2px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #E70250;
}

/* - - - - - - - - - -/ end of .cabinet_container - - - - - - - - - - */
/* - - - - - - - - - - .winners_container - - - - - - - - - - */
.winners_container {
  position: relative;
  min-height: 785px;
  overflow: hidden;
}

.winners_search {
  position: relative;
  max-width: 400px;
  margin: 0 auto 44px;
}

.winners_search input {
  padding-right: 45px;
  height: 40px;
  font-weight: 400;
}

.winners_search button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: url(../images/icons/search-icon.png) 1px 50% no-repeat;
}

.winners_table {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.winners_table tr.active {
  background-color: #c6013f;
}

.winners_table th {
  padding: 0 5px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.winners_table td {
  position: relative;
  padding: 3px 5px;
}

.winners_table th:last-child,
  .winners_table td:last-child {
  padding-left: 30px;
}

.winners_table span {
  position: relative;
}

.winners_table .alert {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -8.5px;
}

.winners_error {
  display: none;
  text-align: center;
  padding: 20px;
  background: -webkit-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: -o-linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  background: linear-gradient(45deg, #d7bf6c 33%, #d7bf6c 66%, #faefc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.winer_full_email {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

/* - - - - - - - - - -/ end of .winners_container - - - - - - - - - - */
/* dropzone*/
#dropzone {
  z-index: 9 !important;
}

.dz-error-message {
  display: none !important;
}

.dropzone {
  display: inline-block;
  margin-bottom: 33px;
  min-height: 250px !important;
  min-width: 290px !important;
  /* width: 100%;*/
  max-width: 720px !important;
  padding: 23px 12px !important;
  text-align: center;
  border: 2px dashed #215000 !important;
  background: #52994c !important;
}

.dropzone .dz-preview {
  display: inline-block;
  margin: 10px 15px  !important;
}

.dropzone .dz-preview .dz-image {
  width: 200px  !important;
  height: 185px  !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  background: -webkit-gradient(linear, left top, left bottom, from(#3f9236), to(#67977a));
  background: -webkit-linear-gradient(top, #3f9236, #67977a);
  background: -o-linear-gradient(top, #3f9236, #67977a);
  background: linear-gradient(to bottom, #3f9236, #67977a);
}

.dropzone .dz-preview.dz-image-preview {
  background: transparent;
}

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.dz-message {
  font-size: 16px;
  line-height: 1.2;
}

.dz-details {
  display: none;
}

.dz-remove {
  position: absolute;
  z-index: 9999;
  top: -12px;
  left: auto;
  right: -11px;
  width: 24px;
  height: 24px;
  margin: 0;
  font-size: 0 !important;
  background: url(../images/icons/dropzone-close-icon.png) 50% 50% no-repeat;
}

.file_alert {
  font-family: 'Opium';
  font-size: 14px;
  line-height: 1.2;
  color: #ffff00;
}

.add-photo {
  margin-bottom: 25px;
  display: none;
  font-size: 16px;
}

.add-photo.show {
  display: inline-block;
}

.send-check {
  display: none;
}

.send-check.show {
  display: inline-block;
}

.download-btn.hide {
  display: none;
}

/*  <!-- 6. FOOTER 
============================================ --> */
#footer {
  padding: 14.5px 0;
  background-color: #0e7630;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e7630), color-stop(100%, #074b24));
  background-image: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background-image: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0e7630), color-stop(100%, #074b24));
  background: -webkit-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: -o-linear-gradient(left, #0e7630 0%, #074b24 100%);
  background: linear-gradient(to right, #0e7630 0%, #074b24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

.footer_fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.footer_container {
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #FFF;
}

.footer_tel {
  font-size: 24px;
  line-height: 1.2;
}

.footer_tel a {
  margin-bottom: 6px;
}

.footer_tel p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}

.footer_list {
  /* display: -webkit-box;*/
  /* display: -webkit-flex;*/
  /* display: -ms-flexbox;*/
  /* display: flex;*/
  font-size: 18px;
  line-height: 1.2;
  margin: 0 15px;
  white-space: nowrap;
}

.footer_list li {
    /* display: inline-block;*/
    /* margin: 0 27.5px;*/;
}

.footer_list li:not(:last-child) {
  margin-bottom: 11px;
}

.footer_social {
  text-align: center;
}

.footer_social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_social ul li:not(:last-child) {
  margin-right: 15px;
}

.social_title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer_copyright {
  font-size: 14px;
  font-weight: 400;
  /* white-space: nowrap;*/
  line-height: 1.2;
}

.footer_copyright span {
  font-family: Arial,sans-serif;
}

.gr-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
