    #header{
        padding: 10.5px 0;
        @include horizontal-gradient(#0e7630, #074b24);
        box-shadow: 0 0 38px 15px rgba(30, 63, 17, 0.5);
    }
    .header_fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
    }
    .header_fix + * {
        padding-top: 70px;
    }
    
        .header_container{
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
            -webkit-justify-content: space-between;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
        }
            .logo{

                > a{

                }
            }

            .navigation_menu{
                -webkit-transition: all ease 0.5s;
                     -o-transition: all ease 0.5s;
                        transition: all ease 0.5s;
                &.open{
                    opacity: 1;
                    visibility: visible;
                    -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                            transform: translateY(0);
                }
            }
                .js-btn-menu{
                    position: relative;
                    z-index: 10;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    span{
                        position: absolute;
                        top: 50%;
                        left: 3.5px;
                        right: 3.5px;
                        height: 2px;
                        display: block;
                        margin-top: -1px;
                        background: #e5c674;
                        -webkit-border-radius: 5px;
                                border-radius: 5px;

                        &:before,
                        &:after{
                            content: "";
                            position: absolute;
                            left: 0;
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: #e5c674;
                            -webkit-border-radius: 5px;
                            border-radius: 5px;
                            -webkit-transition: all ease 0.5s;
                                 -o-transition: all ease 0.5s;
                                    transition: all ease 0.5s;
                        }
                        &:before {
                            top: -7px;
                        }
                        &:after{
                            bottom: -7px;
                        }
                    }
                    &.active{
                        span{
                            background: none;
                            &:before,
                            &:after{
                                -webkit-transition: all ease 0.5s;
                                     -o-transition: all ease 0.5s;
                                        transition: all ease 0.5s;
                            }
                            &:before{
                                top: 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            &:after{
                                bottom: 0;
                                -webkit-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
                #menu{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                }
                    .menu_item{
                        padding: 0 11px;
                    }
                        .menu_link{
                            position: relative;
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: $white;
                            &:after{
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: -5px;
                                right: 100%;
                                height: 3px;
                                display: block;
                                @include horizontal-gradient(#d7bf6c, #faefc5);
                                -webkit-transition: all 0.5s ease;
                                     -o-transition: all 0.5s ease;
                                        transition: all 0.5s ease;
                            }
                            &:hover,
                            &.current{
                                &:after{
                                    right: 0;
                                }
                            }
                        }


            .login_box{
                
            }
                .login_link{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    div{
                        margin-left: 6px;
                        border-bottom: 2px solid #c6013f;
                    }
                }





