//- block vars
footer(id="footer" class=footerClasses)

	.container
		.row
			.col
				.footer_container
					.footer_tel
						a.gradient-text(href="tel:88005007737") 8&nbsp;800&nbsp;500&nbsp;77&nbsp;37
						p.gradient-text Телефон&nbsp;горячей&nbsp;линии
					
					ul.footer_list
						li
							a.gradient-text(href="javascript:;" target="_blank") Правила&nbsp;акции
						li
							a.gradient-text(href="javascript:;" target="_blank") Пользовательское&nbsp;соглашение

					.footer_social
						h6.social_title.gradient-text Поделиться:
						ul
							li
								a(href="javascript:;"): img(src="images/icons/social-icon.png", alt="")
							li
								a(href="javascript:;"): img(src="images/icons/social-icon2.png", alt="")

					.footer_copyright.gradient-text 
						| 
						span.txt ©&nbsp;
						| 2018&nbsp;ООО&nbsp;«ПепсиКо&nbsp;Холдингс»&nbsp;Все&nbsp;права&nbsp;защищены

	// - - - - - - - - - - - - - End of footer_container - - - - - - - - - - - - - - - -