//- block vars
header#header(class=headerClasses).header_fix

	.container
		.row
			.col
				.header_container

					.js-btn-menu: span
						
					// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - -

					.logo: a(href="#box1").scrollto: img(src="images/logo.png", alt="")

					// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - -

					//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - -

					nav#primary_nav.navigation_menu
						menu#menu.menu
							li.menu_item
								a.menu_link.gradient-text.scrollto(href="#box2") Об акции
							li.menu_item
								a.menu_link.gradient-text.scrollto(href="#box3") Призы
							li.menu_item
								a.menu_link.gradient-text(href="winners.html") Победители
							li.menu_item
								a.menu_link.gradient-text(href="about.html") Вопрос- ответ 
							li.menu_item
								a.menu_link.gradient-text(href="feedback.html") Обратная&nbsp;связь

					//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - -

					// - - - - - - - - - - - - - login_box - - - - - - - - - - - - - - - -

					.login_box
						a.login_link(href="#")
							img(src="images/icons/login-icon.png", alt="")
							div.gradient-text Войти


					// - - - - - - - - - - - - - End of login_box - - - - - - - - - - - - - - - -