
head

	// Basic page needs     ============================================ 
	//- title 
	//- 	block title
	block vars
	title= title
	meta(charset="utf-8")
	meta(name="author", content="")
	meta(name="keywords", content="")
	meta(name="description", content="")

	// Meta tags for social networks     ============================================
	meta(property="og:title" content="")
	meta(property="og:type" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="img/preview.jpg")

	// IE Support     "IE=edge","IE=11","IE=10","IE=9","IE=8"     ============================================ 
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	// Mobile specific metas     ============================================ 
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	// Disable conversion of telephone numbers     ============================================ 
	meta(name="format-detection", content="telephone=no")
		
	// Implement Google Tag Manager     ============================================ 
	<!-- Google Tag Manager --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-MT4ZWVR');</script> <!-- End Google Tag Manager -->

	// Favicon     ============================================
	link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
	link(rel="icon", href="images/favicon.ico", type="image/x-icon")
	link(rel="icon", href="images/favicon-16.png", sizes="16x16", type="image/png")
	link(rel="icon", href="images/favicon-32.png", sizes="32x32", type="image/png")
	link(rel="icon", href="images/favicon-48.png", sizes="48x48", type="image/png")
	link(rel="icon", href="images/favicon-62.png", sizes="62x62", type="image/png")
	link(rel="icon", href="images/favicon-192.png", sizes="192x192", type="image/png")

	// Include Fonts (Icons)     ============================================ 
	link(rel="stylesheet", media="screen", href="css/font.css")

	// Include Libs CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/reset.css")
	link(rel="stylesheet", media="screen", href="css/bootstrap.css")
	link(rel="stylesheet", media="screen", href="plugins/arcticmodal/jquery.arcticmodal.css")
	link(rel="stylesheet", media="screen", href="plugins/formstyler/formstyler.css")
	link(rel="stylesheet", media="screen", href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css")
	link(rel="stylesheet", media="screen", href="plugins/tooltipster-master/tooltipster.bundle.min.css")
	link(rel="stylesheet", media="screen", href="plugins/dropzone/dropzone.css")
	link(rel="stylesheet", media="screen", href="plugins/owl-carousel/owl.carousel.min.css")

	// Theme CSS     ============================================ 
	link(rel="stylesheet", media="screen", href="css/style.css")
	link(rel="stylesheet", media="screen", href="css/responsive.css")
	link(rel="stylesheet", media="screen", href="css/ie.css")

