// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 




// Scripts Init Plugins & Core START     ============================================ 

script(src="js/script.init.js")
script(src="js/script.core.js")
script(type='text/javascript').
	Dropzone.autoDiscover = false;
	var myDropzone = new Dropzone(".dropzone", {
		parallelUploads: 5,
		filesizeBase: 2000,
		maxFiles: 5,
		acceptedFiles: "image/*",
		addRemoveLinks: true,
		removedfile: function(file) {
			var name = file.name;    

			$.ajax({
			type: 'POST',
			url: 'upload.php',
			data: {name: name,request: 2},
			sucess: function(data){
				console.log('success: ' + data);
			}
			});
			var _ref;
			return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
		},
		init: function() {
			$(".add-photo").on("click", function() {
				$('.dropzone').trigger('click');
			});
		}
	});
	

// Scripts Init Plugins & Core END       ============================================ 