extends ../pug/templates/main3

block vars
	- var title = "About";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.first_screen.feedback_container.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container.abs_box.abs_box2
				.img_abs6
					img(src="images/img_abs6.png", alt="")
				.img_abs7
					img(src="images/img_abs7.png", alt="")
			.container
				.row
					.col-lg-6
						h3.mb45: span Часто задаваемые вопросы
						.js-scroll
							dl.accordion-box

								dt: span Кто является организатором акции?
								dd Организатором акции является ООО «ПепсиКо Холдингс»

								dt: span Сколько продлится Акция?
								dd: p Общий период проведения Акции: с «01» сентября 2018 года по «30» ноября 2018 года с учетом срока выдачи призов Акции. Период совершения покупки продуктов и регистрации кассовых чеков: с 12 ч. 00 м. 00 с. «01» сентября 2018 года по 23 ч. 59 м. 59 с. (включительно) «31» октября 2018 года по московскому времени. Период выдачи призов Победителям: с «01» сентября 2018 года по «30» ноября 2018 года (включительно). 

								dt: span В каких городах и торговых сетях проходит Акция?
								dd: p Акция проводится в магазинах торговых сетей: «Перекресток», «Лента», «Виктория», «Метро», «Окей», «Быстроном», «Семья», «Spar», расположенных на территории РФ.

								dt: span Кто может принимать участие в Акции?
								dd: p В акции могут принимать участие граждане Российской Федерации, достигшие 18 лет, постоянно проживающие на территории Российской Федерации. В Акции запрещается принимать участие сотрудникам Организатора, Операторов и аффилированных с ним лиц, а также членам семей всех указанных лиц.

								dt: span Как принять участие в Акции?
								dd 
									p Для того чтобы принять участие в Акции необходимо: 
									ul 
										li Приобрести в магазинах торговой сети, которые принимаю участие в Акции, продукцию под торговым знаком «Я» в период регистрации чеков. 
										li Зарегистрировать чек на сайте акции:  <a href="https://promo.ya-juice.ru/"> https://promo.ya-juice.ru/</a> Сохранить оригинал чека, который был зарегистрирован. 
										li Подробную информацию Вы можете узнать в разделе «Правила» на сайте.

								dt: span Как зарегистрироваться на сайте?
								dd 
									p Инструкция для регистрации на сайте:
									ul 
										li нажмите на кнопку «Войти», затем на кнопку «Зарегистрироваться»;
										li заполните форму регистрации и согласитесь с Правилами Акции, ознакомившись со всеми соглашениями, проставьте галочку напротив них;
										li зайдите в указанный при регистрации почтовый e-mail, подтвердите аккаунт и участвуйте в Акции;
										li если Вы ранее принимали участие в акциях компании PepsiCo, то Вам необходимо нажать на кнопку «Войти», затем на кнопку «Авторизоваться» и ввести уже имеющиеся логин и пароль, согласиться с правилами Акции и с соглашением, проставив галочки напротив каждого из них, и Вы сможете принять участие в Акции;
										li если Вы забыли пароль, пожалуйста, воспользуйтесь формой восстановления пароля.


								dt: span Как зарегистрировать чек?
								dd: p Чтобы зарегистрировать чек, необходимо пройти регистрацию на сайте акции <a href="https://promo.ya-juice.ru/"> https://promo.ya-juice.ru/</a> и зайти в личный кабинет. 

								dt: span Не могу зарегистрировать чек. Что делать?
								dd: p Пожалуйста, напишите сообщение в «Обратную связь» с пошаговым описанием Ваших действий и укажите номер и дату загрузки чека (информация указана в личном кабинете)

								dt: span Какие продукты принимают участие в Акции?
								dd 
									p Список продуктов, участвующих в Акции:
									.table_wrap
										table
											tr
												th №
												th Наименование
											tr
												td 1
												td Я, вкус «Ананас» 100% сок с мякотью, 0,97 л
											tr
												td 2
												td Я, вкус «Яблоко» 100% сок осветленный, 0,97 л
											tr
												td 3
												td Я, вкус «Яблоко» 100% сок с мякотью, 0,97 л
											tr
												td 4
												td Я, вкус «Виноград» 100% сок осветленный, 0,97 л
											tr
												td 5
												td Я, вкус «Грейпфрут» 100% сок с мякотью, 0,97 л
											tr
												td 6
												td Я, вкус «Апельсин» 100% сок с мякотью, 0,97 л
											tr
												td 7
												td Я, вкус «Томат» 100% сок с мякотью, 0,97 л
											tr
												td 8
												td Я, вкус «Мандарин-Апельсин» нектар, 0,97 л
											tr
												td 9
												td Я, вкус «Манго» нектар с мякотью, 0,97 л
											tr
												td 10
												td Я, вкус «Персик» нектар с мякотью, 0,97 л
											tr
												td 11
												td Я, вкус «Мультифрукт» нектар с мякотью, 0,97 л
											tr
												td 12
												td Я, вкус «Вишня» нектар осветленный, 0,97 л
											tr
												td 13
												td Я, вкус «Мексиканский микс», сокосодержащий напиток, 0,97 л

								dt: span Сколько чеков я могу зарегистрировать?
								dd: p Вы можете зарегистрировать неограниченное чеков за весь период акции.

								dt: span Какое количество и какие призы участвуют в Акции?
								dd
									ul
										li
											h6 Призы за каждый валидный чек первым 100 участникам ежедневно:
											ul
												li 
													p 30 руб. на телефон – всего 6 100 транзакций. 
													p Не более 10 призов на одного участника. Зачисления денежных средств возможны только на счета абонентов российских сотовых операторов МегаФон, Билайн, МТС и Tele2. На корпоративные номера денежные средства не перечисляются. Перед зачиснением денежных средств на мобильный номер, пожалуйста, проверьте соответствием всем условиям.

										li
											h6 Еженедельный розыгрыш призов:
											p Beauty бокс французской косметики Л'Окситан общей стоимостью не более 4000 рублей, всего 200 шт. Не более 1 приза на участника Состав Beauty бокса:
											ul
												li Гель для душа «Вишневый цвет», 250 мл
												li Крем для рук «Карите», 30 мл
												li Крем для ног «Карите», 30 мл
												li Мыло туалетное «Вербена», 75 гр
												li Бальзам-стик для губ, 4,5 гр

										li
											h6 Главный приз:
											p 1 место: «Яркое преображение от школы «IconFace», всего 1 шт., состоящий из:
											ul
												li Авиаперелет до Москвы и обратно;
												li Проживание в отеле не ниже 4*; 
												li Мастер-класс по макияжу от школы «IconFace»;
												li Набор косметики;
												li Фотосессия 

											p 2-3 места: Разыгрывается мастер-класс по макияжу от школы «IconFace», всего 2 шт. 
											p Для получения приза за 2 и 3 место Победителю необходимо самостоятельно приехать в школу профессионального макияжа Icon Face, находящуюся по адресу: г. Москва, Пресненская Набережная 12, ММДЦ "Москва-Сити", башня Федерация Восток в согласованное с Оператором 1 дату и время. Детальнее с условиями можно ознакомиться в Правилах акции в п. 2.1.3

								dt: span Как я могу выиграть приз в еженедельном розыгрыше?
								dd 
									p Для того чтобы получить шанс выиграть один из еженедельных призов, необходимо зарегистрировать валидный чек на сайте Акции в определенный период. Еженедельно разыгрываются 25  Beauty боксов французской косметики Л'Окситан. 
									p Календарь проведения розыгрышей (дата, время):
									.table_wrap
										table.fz14.al_center
											tr
												th(colspan="2") Дата проведения розыгрыша
												th(colspan="2") Период регистрации чеков <br>(начало)
												th(colspan="2") Период регистрации чеков <br>(конец)
											tr
												td дата
												td время
												td дата
												td время
												td дата
												td время
											tr
												td 09.09.2018
												td 18:00:00
												td 01.09.2018
												td 12:00:00
												td 09.09.2018
												td 23:59:59
											tr
												td 18.09.2018
												td 18:00:00
												td 10.09.2018
												td 00:00:00
												td 16.09.2018
												td 23:59:59
											tr
												td 25.09.2018
												td 18:00:00
												td 17.09.2018
												td 00:00:00
												td 23.09.2018
												td 23:59:59


											tr
												td 02.10.2018
												td 18:00:00
												td 24.09.2018
												td 00:00:00
												td 30.09.2018
												td 23:59:59
											tr
												td 09.10.2018
												td 18:00:00
												td 01.10.2018
												td 00:00:00
												td 07.10.2018
												td 23:59:59
											tr
												td 16.10.2018
												td 18:00:00
												td 08.10.2018
												td 00:00:00
												td 14.10.2018
												td 23:59:59
											tr
												td 23.10.2018
												td 18:00:00
												td 15.10.2018
												td 00:00:00
												td 21.10.2018
												td 23:59:59
											tr
												td 02.11.2018
												td 18:00:00
												td 22.10.2018
												td 00:00:00
												td 31.10.2018
												td 23:59:59

									p Начисление приза происходит на Сайте акции в течение 24 часов после проведения розыгрыша; также будет опубликована инструкция для получения еженеельного приза.

								dt: span Как и где я могу забрать свои призы?
								dd
									ul
										li Приз «30 рублей на телефон» переводится участникам после подтверждения  мобильного номера телефона в течение 10 дней. Участник может выводить каждые 30 руб. на телефон или копить их и вывести общую сумму.
										li Вещественные призы в еженедельном розыгрыше доставляются партнером Л'Окситан после передачи адреса доставки модератору Акции  до 30 ноября 2018 года.
										li С победителями главного приза и с победителями дополнительных призов модераторы связываются индивидуально для обсуждения сроков поездки.

								dt: span Могу ли я поменять вещественный приз на денежный?
								dd: p Нет, по условиям Акции денежный эквивалент приза не выдается. В рамках проводимой акции Вы можете либо получить приз, либо отказаться от него. Организатор оставляет за собой право распоряжаться такими Призами по своему усмотрению любым способом, не противоречащим действующему законодательству РФ.
								

								dt: span Надо ли платить налоги с приза?
								dd: p Если совокупная стоимость полученных в рамках Акции призов превышает 4000 рублей, необходимо оплатить налоги.  По Главным призам: Оператор, по поручению Организатора, удерживает сумму НДФЛ из стоимости полученных победителем призов в соответствии с законодательством о налогах и сборах РФ.

								dt: span Какие документы нужно предъявить, чтобы получить Еженедельный приз?
								dd
									p Для получения Еженедельного приза объявленному Победителю необходимо в течение 24 часов после получения уведомления о результатах Акции, предоставить Организатору или Оператору 1 следующие данные о себе:

									ul
										li Фамилия Имя Отчество;
										li Дата рождения;
										li Скан/копию документа, удостоверяющего личность (паспорт): его серию и номер, кем и когда был выдан;
										li Адрес доставки приза;
										li Иную информацию по запросу Организатора Акции или Оператора 1, необходимую для вручения Призов Акции Победителям.

									p Информация и копии документов, указанные в пункте 6.1 настоящих Условий, должны быть представлены Победителем Оператору 1 посредством отправки сканированных/фотокопий документов на адрес электронной почты   <a href="ya@rcg.agencu">ya@rcg.agencu</a>, с обязательным указанием номера телефона, который является идентификатором согласно п. 3.4 Правила Акции.

								dt: span Какие документы нужно предъявить, чтобы получить Главный приз?
								dd
									p Для получения Главного Приза Победителю необходимо в течение 24 часов после уведомления о результатах Акции, предоставить Оператору следующие данные о себе:
									
									ul
										li фамилия имя отчество;
										li дата рождения;
										li скан/копию документа, удостоверяющего личность (паспорт): его серию и номер, кем и когда был выдан;
										li адрес регистрации по месту жительства/месту пребывания (для доставки приза), индекс;
										li копию ИНН;
										li сканированную версию подписанного со стороны победителя АКТ приема-передачи приза (предоставляется Оператором 1)
										li Впоследствии подписать также бумажную версию акта приема-передачи приза, в противном случае Организатор/Оператор не несет ответственности за вручение данного приза, и Участник теряет право на его получение. 
										li иную информацию по запросу Организатора Акции или Оператора, необходимую для вручения Призов Акции Победителям

									p Всю необходимуб информацию и копию документов необходимо предоставить Оператору посредством отправки на адрес электронной почты   <a href="ya@rcg.agencu">ya@rcg.agencu</a>, с обязательным указанием номера телефона.

								dt: span Как я узнаю, что стал победителем розыгрыша? 
								dd
									p Оповещение Победителей акции происходит следующим образом:
									ul
										li с помощью электронной сообщения, отправленного на адрес электронной почты, указанный при регистрации в Акции;

								dt: span Почему мой чек отклонили?
								dd: p Причины отклонения чека отражаются в личном кабинете. Если Ваш чек отклонен при полном соответствии данным пункту 3.1.5 Правил акции, необходимо  написать сообщение в форму «Обратная Связь» с указанием номера и даты регистрации чека 

								dt: span Нужно ли сохранять кассовый чек на покупку продукции?
								dd: p Да, сохраняйте кассовые чеки на покупку продукции, участвующей в Акции, для предъявления их по запросу Организатора и/или в случае выигрыша. При отсутствии чеков Организатор может отказать Вам в выдаче приза. Подробную информацию смотрите в Правилах Акции.

								dt: span Что делать если забыл пароль? 
								dd: p На сайте Акции <a href="https://promo.ya-juice.ru">https://promo.ya-juice.ru</a> в окне авторизации необходимо нажать на кнопку «Восстановить пароль» и выбрать восстановления пароля на адрес рабочей электронной почты, указанный при регистрации.

								dt: span Что делать, если я изменил номер мобильного телефона или E-Mail? Я был зарегистрирован и хочу продолжить участие. 
								dd: p Для изменения E-mail или номера телефона обратитесь в службу технической поддержки, заполнив форму обратной связи.

								dt: span Могут ли результаты розыгрыша главного приза быть аннулированы?
								dd: p Организатор может аннулировать победу одного из участников в случае несоблюдения правил Акции, если объявленный Победитель не предоставил всю необходимую информацию или предоставленные им данные были недостоверными. Организатор может аннулировать победу такого участника и выбрать другого участника в качестве Победителя розыгрыша.

								dt: span Что делать, если не увидели оповещения о розыгрыше приза?
								dd: p Если Победитель, по каким-то причинам, отказывается от Приза или не выходит на связь в течение 24 часов после определения результатов и попыток связаться с ним, Приз считается невостребованным. При отстутвии Победителя при доставке вещественного Приза в еженедельном розыгрыше в согласованное время – Приз считается невостребованным. Организатор вправе распоряжаться невостребованными призами на свое усмотрение.

								dt: span Что делать, если возникли вопросы, на которые нет ответов в F.A.Q.?
								dd: p Если Вы не нашли ответ на свой вопрос, обратитесь в службу технической поддержки, заполнив форму обратной связи на сайте. Ответ поступит в течение 3 рабочих дней. Если запрос приходится на выходной день, ответ поступит в ближайший рабочий день.




					.col-lg-6.d_flex.flex_middle
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent3
			.arcticmodal-close &times;

	// Popup End       ============================================


//- Popup End       ============================================