extends ../pug/templates/main2

block vars
	- var title = "Авторизация";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png 
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#authorization_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#authorization_modal.arcticmodal_container_box.modal_box2.modal_indent
			.modal_abs_img
				img(src="images/modal_abs_img.png", alt="")
			.modal_abs_img3
				img(src="images/modal_abs_img3.png", alt="")
				img.d_none(src="images/modal_abs_img3_mob.png", alt="")
			.arcticmodal-close &times;
			h3.mb30.al_center Авторизация
			form
				.form_row
					label.form_label Email
					input.form_input(type="text")
				.form_row
					label.form_label Пароль
					input.form_input(type="text")
				.clearfix.form_indent
					.form_captcha.f_left.m_t_zero
						img(src="images/captcha.jpg", alt="")
					.form_links.wrapper
						a.link-bd2.link-xs.gradient-text(href="javascript:;") Восстановить пароль
						a.link-bd2.link-xs.gradient-text(href="javascript:;") Зарегистрироваться
				.form_row.form_button
					a.btn-md.btn-fon4(href="javascript:;"): span.gradient-text ВОЙТИ

				.form_links.d_none
					a.link-bd2.link-xs.gradient-text(href="javascript:;") Восстановить пароль
					a.link-bd2.link-xs.gradient-text(href="javascript:;") Зарегистрироваться

	// Popup End       ============================================


//- Popup End       ============================================