extends ../pug/templates/main3

block vars
	- var title = "Кабинет";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.cabinet_container.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col
						.cabinet_box
							.row
								.col-lg-5
									.personal_info
										h5.mb30: span Персональные данные
										ul.personal_list
											li
												h6.personal_title ИМЯ
												div.txt Константин
											li
												h6.personal_title ФАМИЛИЯ
												div.txt Петров
											li
												h6.personal_title EMAIL
												div.txt konstantin_I@mail.com

										div.al_center: a.btn-lg3.btn-fon6(href="javascript:;"): span.gradient-text ЗАГРУЗИТЬ ЧЕК

								.col-lg-7
									.akcia-container
										figure.figure-akcia(data-popup="#authorization_modal")
											div.figure-wr
												h6.figure_title: span Получи деньги на телефон
												figcaption.with_text
													div.p_rel.d_ib
														img(src="images/akcia_img.png", alt="")
														span 
															|120 
															span руб
											.figure-bottom
												.figure-bottom-item 
													div.txt Получить

										figure.figure-akcia(data-popup="#authorization_modal")
											div.figure-wr
												h6.figure_title: span Beauty-бокс L'Occitane
												figcaption
													img(src="images/akcia_img2.png", alt="")
											.figure-bottom
												.figure-bottom-item 
													div.txt Розыгрыш 
													div.txt 12.09.2018 в 16:00

										figure.figure-akcia(data-popup="#authorization_modal")
											div.figure-wr.akcia_resp
												h6.figure_title: span Яркое преображение 
													span.hide_767 от 
													span.akcia_img_resp от
														img(src="images/akcia_img3.png", alt="")
												figcaption
													img(src="images/akcia_img3.png", alt="")
											.figure-bottom
												.figure-bottom-item 
													div.txt Розыгрыш
						
						.cabinet_table_container
							h3.mb38 Розыгрыш призов по чекам
							table.cabinet_table
								tr
									th: span Чек
									th: span Номер
									th.resp_hide: span Магазин
									th: span Дата загрузки
									th: span Статус
								tr
									td: span 1
									td: span 349833
									td.resp_hide: img(src="images/shop_logo.png", alt="")
									td
										div.al_left.d_ib
											div.cabinet_data: span 23.11.2018
											time 12:46
									td: span Принят
								tr
									td: span 2
									td: span 349833
									td.resp_hide: img(src="images/shop_logo.png", alt="")
									td
										div.al_left.d_ib
											div.cabinet_data: span 23.11.2018
											time 12:46
									td: span Принят
								tr
									td: span 3
									td: span 349833
									td.resp_hide: img(src="images/shop_logo2.png", alt="")
									td
										div.al_left.d_ib
											div.cabinet_data: span 23.11.2018
											time 12:46
									td
										div.d_ib
											div.d_ib: span Отклонен
											div.alert.d_ib
												.alert-icon.tooltip(data-tooltip-content="#tooltip_content"): img(src="images/icons/alert-icon.png", alt="")

												div.tooltip_templates
													div#tooltip_content 
														.modal_abs_img
															img(src="images/modal_abs_img4.png", alt="")
														.modal_abs_img4
															img(src="images/modal_abs_img5.png", alt="")
															img.d_none(src="images/modal_abs_img5_mob.png", alt="")
														h3.mb7.al_center Ошибка при загрузке чека
														div.al_center.txt.fz18 Чек сфотографирован не полностью



												
								tr
									td: span 4
									td: span 349833
									td.resp_hide: img(src="images/shop_logo3.png", alt="")
									td
										div.al_left.d_ib
											div.cabinet_data: span 23.11.2018
											time 12:46
									td: span Принят
								tr
									td: span 5
									td: span 349833
									td.resp_hide: img(src="images/shop_logo.png", alt="")
									td
										div.al_left.d_ib
											div.cabinet_data: span 23.11.2018
											time 12:46
									td
										div.al_left.d_ib
											div: span Обработка
											time вчера 12:46
							
							ul.pagination.clearfix
								li.active: a.active(href="#") 1
								li: a(href="#") 2
								li: a(href="#") 3
								li: a(href="#") 4

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================



//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#authorization_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img4.png", alt="")
			.modal_abs_img4
				img(src="images/modal_abs_img5.png", alt="")
				img.d_none(src="images/modal_abs_img5_mob.png", alt="")
			.arcticmodal-close &times;
			h3.mb7.al_center Ошибка при загрузке чека
			div.al_center.gradient-text.fz18 Чек сфотографирован не полностью

	// Popup End       ============================================


//- Popup End       ============================================