extends ../pug/templates/main2

block vars
	- var title = "Download";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#download_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img6.png", alt="")
			.modal_abs_img5
				img(src="images/modal_abs_img7.png", alt="")
			.arcticmodal-close &times;
			h3.mb20.al_center: span.gradient-text Зарегистрировать чек
			.mb25
				div.al_center.fz18: span.gradient-text Период регистрации чеков:
				div.al_center.fz18: span.gradient-text с 1 сентября по 31 октября 2018 года.
			div.al_center: a.btn-lg2.btn-fon5(href="javascript:;"): span.gradient-text ЗАГРУЗИТЬ ЧЕК

	// Popup End       ============================================


//- Popup End       ============================================