extends ../pug/templates/main2

block vars
	- var title = "Ошибка";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png 
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#authorization_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#authorization_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img4.png", alt="")
			.modal_abs_img4
				img(src="images/modal_abs_img5.png", alt="")
				img.d_none(src="images/modal_abs_img5_mob.png", alt="")
			.arcticmodal-close &times;
			h3.mb7.al_center Ошибка при загрузке чека
			div.al_center.gradient-text.fz18 Чек сфотографирован не полностью

	// Popup End       ============================================


//- Popup End       ============================================