extends ../pug/templates/main3

block vars
	- var title = "Feedback";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.first_screen.feedback_container.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container.abs_box.abs_box2
				.img_abs6
					img(src="images/img_abs6.png", alt="")
				.img_abs7
					img(src="images/img_abs7.png", alt="")
			.container
				.row
					.col-lg-4
						h3.mb35 Обратная связь
						form.form_feedback
							.form_row.mxw300
								label.form_label.requaired Email
								input.form_input(type="text" placeholder="example@server.com")
							.form_row.form_select
								select.styler(data-placeholder='Выберите тему сообщения')
									option
									option(value="Правила акции") Правила акции
									option(value="Не могу зарегистрироваться") Не могу зарегистрироваться
									option(value="Не могу загрузить чек") Не могу загрузить чек
									option(value="Мой чек не прошел проверку") Мой чек не прошел проверку
									option(value="Призовой фонд") Призовой фонд
									option(value="Изменение персональных данных") Изменение персональных данных
									option(value="Другое") Другое
							.form_row
								.p_rel.form_textarea_wrap
									textarea.form_textarea.h160(placeholder="Напишите вопрос")
									span.fz10.gradient-text Если у Вас возник вопрос по чеку, укажите, пожалуйста, номер и дату загрузки данного чека. Данную информацию можете посмотреть в <a href="javascript:;" class="link-bd2 gradient-text">личном кабинете</a>.
							.form_row.mb25
								input.styler(type="file")
							.form_row.form_checkbox
								input#check.form_input_checkbox(type="checkbox")
								label.form_label_checkbox(for="check")
									span Я согласен на обработку персональных данных
							.form_row.form_button
								a.btn-xl.btn-fon2(href="javascript:;"): span.gradient-text ОТПРАВИТЬ


					.col-lg-7.offset-lg-1
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent3
			.arcticmodal-close &times;

	// Popup End       ============================================


//- Popup End       ============================================