extends ../pug/templates/main

block vars
	- var title = "Главная страница";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")#box1
			.container
				.row
					.col-lg-5
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box

								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#download_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК


					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - second_screen - - - - - - - - - - - - - - - -

		section.second_screen.indent.bg_fon(style="background-image: url(images/second_screen_fon.png);")#box2
			.container.abs_box
				.img_abs1
					img(src="images/img_abs1.png", alt="")
					img.d_none(src="images/img_abs1_mob.png", alt="")
				.img_abs2
					img(src="images/img_abs2.png", alt="")
					img.d_none(src="images/img_abs2_mob.png", alt="")
				.img_abs3_mob
					img(src="images/img_abs3_mob.png", alt="")
			h2.gradient-text.mb96.al_center Об акции
			.container
				.row.mb90.js-carousel
					.col-lg-3.offset-lg-1
						figure.figure_box
							div.figure_img: img(src="images/icons/icon1.png", alt="")
							figcaption
								a(href="javascript:;").figure_box_slogan.gradient-text КУПИ “Я”
								p.gradient-text 
									|В &nbsp;одном&nbsp; из &nbsp;
									
									a.d_i.link-wr-bd(href="javascript:;" data-popup="#authorization_modal") 
										span.link-bd.gradient-text участвующих
										br
										span.link-bd.gradient-text магазинов.
					.col-lg-4
						figure.figure_box
							div.figure_img: img(src="images/icons/icon2.png", alt="")
							figcaption
								a(href="javascript:;").figure_box_slogan.gradient-text ЗАРЕГИСТРИРУЙ
								p.gradient-text Загрузи&nbsp;чек&nbsp; на&nbsp; сайте &nbsp;<br>promo.ya-juice.ru 
					.col-lg-3
						figure.figure_box
							div.figure_img: img(src="images/icons/icon3.png", alt="")
							figcaption
								a(href="javascript:;").figure_box_slogan.gradient-text ВЫИГРАЙ
								p: a.link-bd.ttu.link-sm2.gradient-text.scrollto(href="#box3") МОДНЫЕ&nbsp;ПРИЗЫ
				
				div: a.first_screen_btn.btn-xl.btn-fon2(href="javascript:;" data-popup="#download_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК
	
		// - - - - - - - - - - - - - End of second_screen - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - third_screen - - - - - - - - - - - - - - - -

		section.third_screen.indent2.bg_fon(style="background-image: url(images/third_screen_fon.png);")#box3

			h2.title_.gradient-text.mb60.al_center ПРИЗЫ
			.container
				.row
					.col-lg-10.offset-lg-1
						.ban_box.d_flex.justify-content-between.hide_767
							.ban_left.ban_indent
								.title_fon(style="background-image:url(images/title_fon.png);")
									h4.fz26.gradient-text Главный приз
								h4.fz26.gradient-text Яркое преображение от 
								img.mb33(style="margin-top: 10px;" src="images/banner_brend.png", alt="")
								div.ban_img_mob
									img(src="images/banner_img_mob.png", alt="")
									.ban_footer.fz14.gradient-text *ICONFACE – школа профессионального макияжа
							.ban_right(style="background-image: url(images/banner_img.png);")
								img.d_none(src="images/banner_img.png", alt="")
						.ban_2col.hide_767
							.ban_box.view2.ban_indent2.clearfix
								.ban_left.f_left
									.title_fon(style="background-image:url(images/title_fon2.png);")
										h6.gradient-text Ежедневный приз
									h4.mb18.fz26.gradient-text Деньги на телефон
									.ban_footer.fz16.gradient-text Ежедневно первым <br>100 участникам,<br> зарегистрировавшим чек.
								.ban_right.wrapper
									img(src="images/banner_img2.png", alt="")
							.ban_box.view2.ban_indent3.clearfix
								.ban_left.f_left
									.title_fon(style="background-image:url(images/title_fon3.png);")
										h6.gradient-text Еженедельный приз
									h4.mb48.fz26.gradient-text Розыгрыш 25 <br>Beauty-боксов
									.ban_footer.fz12.gradient-text **Beauty-бокс – набор косметики
								.ban_right.wrapper
									img(src="images/banner_img3.png", alt="")
									img(src="images/banner_brend2.png", alt="")
								.ban_footer.fz12.gradient-text **Beauty-бокс – набор косметики

						.js-carousel2.owl-carousel
							.ban_box.d_flex.justify-content-between(data-mh="ban_box")
								.ban_left.ban_indent
									.title_fon(style="background-image:url(images/title_fon.png);")
										h4.fz26.gradient-text Главный приз
									h4.fz26.gradient-text Яркое преображение от 
									img.mb33(src="images/banner_brend.png", alt="")
									div.ban_img_mob
										img(src="images/banner_img_mob.png", alt="")
										.ban_footer.fz14.gradient-text *ICONFACE – школа профессионального макияжа
								.ban_right(style="background-image: url(images/banner_img.png);")
									img.d_none(src="images/banner_img.png", alt="")

							.ban_box.view2.ban_indent2.clearfix(data-mh="ban_box")
								.ban_left.f_left
									.title_fon(style="background-image:url(images/title_fon2.png);")
										h6.gradient-text Ежедневный приз
									h4.mb18.fz26.gradient-text Деньги не телефон
									.ban_footer.fz16.gradient-text Ежедневно первым <br>100 участникам,<br> зарегистрировавших чек.
								.ban_right.wrapper
									img(src="images/banner_img2.png", alt="")

							.ban_box.view2.ban_indent3.clearfix(data-mh="ban_box")
								.ban_left.f_left
									.title_fon(style="background-image:url(images/title_fon3.png);")
										h6.gradient-text Еженедельный приз
									h4.mb48.fz26.gradient-text Розыгрыш 25 <br>Beauty-боксов
									.ban_footer.fz12.gradient-text **Beauty-бокс – набор косметики
								.ban_right.wrapper
									img(src="images/banner_img3.png", alt="")
									img(src="images/banner_brend2.png", alt="")
								.ban_footer.fz12.gradient-text **Beauty-бокс – набор косметики
			
			.container.abs_box
				img.img_abs3(src="images/img_abs3.png", alt="")
		// - - - - - - - - - - - - - End of third_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================



//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#request_popup.arcticmodal_container_box
			.arcticmodal-close &times;
			div Для отмены заявки, свяжитесь с нами по телефону +7 (819) 987-90-90


		#authorization_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img4.png", alt="")
			.modal_abs_img4
				img(src="images/modal_abs_img5.png", alt="")
				img.d_none(src="images/modal_abs_img5_mob.png", alt="")
			.arcticmodal-close &times;
			h3.mb7.al_center Ошибка при загрузке чека
			div.al_center.gradient-text.fz18 Чек сфотографирован не полностью

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent2
			.modal_abs_img
				img(src="images/modal_abs_img6.png", alt="")
			.modal_abs_img5
				img(src="images/modal_abs_img7.png", alt="")
			.arcticmodal-close &times;
			h3.mb20.al_center: span.gradient-text Зарегистрировать чек
			.mb25
				div.al_center.fz18: span.gradient-text Период регистрации чеков:
				div.al_center.fz18: span.gradient-text с 1 сентября по 31 октября 2018 года.
			div.al_center: a.btn-lg2.btn-fon5(href="javascript:;" data-popup="#add_check"): span.gradient-text ЗАГРУЗИТЬ ЧЕК


		#add_check.arcticmodal_container_box.modal_box4.modal_indent4
			.modal_abs_img
				img(src="images/modal_abs_img9.png", alt="")
			.modal_abs_img5
				img(src="images/modal_abs_img3.png", alt="")
			.arcticmodal-close &times;
			h3.mb30.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Зарегистрировать чек
			//- div.mb20
			//- 	div.fz18: span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Период регистрации чеков:
			//- 	div.fz18: span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") с 1 сентября по 31 октября 2018 года.
			a.add-photo.btn-xl.btn-fon.link-uppercase(href="javascript:;"): span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Добавить еще фото
			#dropzone
				form.dropzone.needsclick(action="upload.php")
					div.fallback
						input(name="file" type="file" multiple)
					div.dz-message.needsclick
						//- span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Перетащите файл в эту область
			p.file_alert.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Если у вас длинный чек сделайте 2-3 фото и загрузите их по очереди 
			div: a.download-btn.btn-xs.btn-fon5.link-uppercase(href="javascript:;"): span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Загрузить чек
			div: a.send-check.btn-xs.btn-fon5.link-uppercase(href="javascript:;"): span.gradient-text(data-gradient-text-range="d7bf6c, d7bf6c, faefc5") Отправить чек

	// Popup End       ============================================


//- Popup End       ============================================