extends ../pug/templates/main2

block vars
	- var title = "Popup";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#download_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#download_modal.arcticmodal_container_box.modal_box3.modal_indent3
			img.modal_abs_img(src="images/modal_abs_img6.png", alt="")
			img.modal_abs_img6(src="images/modal_abs_img8.png", alt="")
			.arcticmodal-close &times;
			h3.mb30.al_center: span.gradient-text Для получения приза
			div.fz18
				p.txt Вам необходимо в течение 24 часов после получения уведомления о результатах Акции, предоставить на адрес электронной почты ya@rcg.agencu следующие данные о себе:
				ul
					li: span.gradient-text - Фамилия Имя Отчество;
					li: span.gradient-text - Дата рождения;
					li: span.gradient-text - Скан/копию документа, удостоверяющего личность (паспорт): его серию и номер, кем и когда был выдан;
					li: span.gradient-text - Адрес доставки приза;

	// Popup End       ============================================


//- Popup End       ============================================