extends ../pug/templates/main2

block vars
	- var title = "регистрация";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -
		//- first_screen_fon.png
		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box
								a.first_screen_btn.btn-xl.btn-fon(href="javascript:;" data-popup="#registration_modal"): span.gradient-text ЗАГРУЗИТЬ&nbsp; ЧЕК

					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================

//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#registration_modal.arcticmodal_container_box.modal_box.modal_indent
			img.modal_abs_img(src="images/modal_abs_img.png", alt="")
			img.modal_abs_img2(src="images/modal_abs_img2.png", alt="")
			.arcticmodal-close &times;
			h3.mb30.al_center Регистрация
			form.form_registration
				.form_row_2col
					.form_wrap
						.form_row
							label.form_label Имя
							input.form_input(type="text")
						.form_row
							label.form_label Фамилия
							input.form_input(type="text")
						.form_row
							label.form_label Email
							input.form_input(type="text")
					.form_wrap
						.form_row
							label.form_label Пароль
							input.form_input(type="text")
						.form_row
							label.form_label Повторить пароль
							input.form_input(type="text")
						.form_captcha
							img(src="images/captcha.jpg", alt="")

				.form_row.form_checkbox
					input#check.form_input_checkbox(type="checkbox")
					label.form_label_checkbox(for="check")
						span Подтверждаю, что мне исполнилось 18 лет на момент участия в Акции     
						span Соглашаюсь с <a class="link-bd" href="javascript:;">правилами акции</a> и <a class="link-bd" href="javascript:;">пользовательским соглашением</a>
				.form_row.form_button
					a.btn-lg.btn-fon3(href="javascript:;"): span.gradient-text ЗАРЕГИСТРИРОВАТЬСЯ

	// Popup End       ============================================


//- Popup End       ============================================