extends ../pug/templates/main2

block vars
	- var title = "заглушка";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.first_screen.bg_fon(style="background-image: url(images/new_bg.jpg);")
			.container
				.row
					.col-lg-5.d_flex.flex_middle
						.first_screen_box
							.first_screen_slogan
								img(src="images/slogan.png", alt="")
							
							.first_screen_wrap
								.time_container
									h5.fz20.time_title.gradient-text До&nbsp;окончания&nbsp;акции&nbsp;осталось
									.js-clock.time_box


					.col-lg-7
						.first_screen_img
							img(src="images/first_screen.png", alt="")

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================