extends ../pug/templates/main3

block vars
	- var title = "Победители";
	//- - var headerClasses = ['header'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		.winners_container.indent3.bg_big(style="background-image: url(images/bg_big.jpg);")
			.container.abs_box.abs_box2
				.img_abs8
					img(src="images/img_abs8.png", alt="")
				.img_abs9
					img(src="images/img_abs9.png", alt="")

			.container
				.row
					.col-lg-10.offset-lg-1
						h2.al_center.mb30: span Победители
						.winners_search
							input.form_input(placeholder="Поиск по ФИО")
							button
						
						dl.accordion-box.view2

							dt.active: span Главный приз
							dd 
								table.winners_table
									thead
										tr
											th: span ИМЯ ФАМИЛИЯ
											th: span EMAIL
											th: span РЕЗУЛЬТАТ
									tbody
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Сергей Шамриков
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivr***@server.com
												span.js-winerFilter.winer_full_email ivrhgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ")
												
												span Beauty-бокс
													span.alert.mini.d_ib.tooltip(data-tooltip-content="#tooltip_content")
														span.alert-icon: img(src="images/icons/alert-icon.png", alt="")
														span.alert-tooltip

													div.tooltip_templates
														div#tooltip_content 
															.modal_abs_img
																img(src="images/modal_abs_img4.png", alt="")
															.modal_abs_img4
																img(src="images/modal_abs_img5.png", alt="")
																img.d_none(src="images/modal_abs_img5_mob.png", alt="")
															h3.mb7.al_center Ошибка при загрузке чека
															div.al_center.txt.fz18 Чек сфотографирован не полностью
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivo***@server.com
												span.js-winerFilter.winer_full_email ivohgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс

								.winners_error Победитель не найден
							dt
								span Неделя 3
								span 21.09.2018-28.08.2018
							dd 
								table.winners_table
									thead
										tr
											th: span ИМЯ ФАМИЛИЯ
											th: span EMAIL
											th: span РЕЗУЛЬТАТ
									tbody
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivr***@server.com
												span.js-winerFilter.winer_full_email ivrhgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivo***@server.com
												span.js-winerFilter.winer_full_email ivohgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс

								.winners_error Победитель не найден
							dt
								span Неделя 2
								span 21.09.2018-28.08.2018
							dd 
								table.winners_table
									thead
										tr
											th: span ИМЯ ФАМИЛИЯ
											th: span EMAIL
											th: span РЕЗУЛЬТАТ
									tbody
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivr***@server.com
												span.js-winerFilter.winer_full_email ivrhgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivo***@server.com
												span.js-winerFilter.winer_full_email ivohgyfl@server.com
											td(data-title="РЕЗУЛЬТАТ"): span Beauty-бокс

								.winners_error Победитель не найден
							dt
								span Неделя 1
								span 21.09.2018-28.08.2018
							dd 
								table.winners_table
									thead
										tr
											th: span ИМЯ ФАМИЛИЯ
											th: span EMAIL
											th: span РЕЗУЛЬТАТ
									tbody
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td: span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivr***@server.com
												span.js-winerFilter.winer_full_email ivrhgyfl@server.com
											td: span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span iva***@server.com
												span.js-winerFilter.winer_full_email ivahgyfl@server.com
											td: span Beauty-бокс
										tr
											td.js-winerFilter(data-title="ИМЯ ФАМИЛИЯ"): span Иван Иванов
											td(data-title="EMAIL")
												span ivo***@server.com
												span.js-winerFilter.winer_full_email ivohgyfl@server.com
											td: span Beauty-бокс

								.winners_error Победитель не найден
		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================



//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#request_popup.arcticmodal_container_box
			.arcticmodal-close &times;
			div Для отмены заявки, свяжитесь с нами по телефону +7 (819) 987-90-90

	// Popup End       ============================================


//- Popup End       ============================================