<!Doctype html>
html(lang="en")
	
	// Head Start     ============================================ 
	include ../moduls/head 
	// Head End       ============================================ 

	// Body Start     ============================================ 
	body
		<!-- Google Tag Manager (noscript) --> <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT4ZWVR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- End Google Tag Manager (noscript) -->
		
		//[if lte IE 9]><div class="browse-happy"><h3>You are using an <strong>outdated</strong> browser. Please<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3></div><![end if]
        
		div.page_wrap




			//- Content Start     ============================================ 
			block content
			//- Content End       ============================================ 





			//- Popup Start     ============================================ 
			block popup
			//- Popup End       ============================================ 
			




		//- ALL SCRIPTS and LIBS START     ============================================
		include ../moduls/scripts
		//- ALL SCRIPTS and LIBS END       ============================================




	// Body End       ============================================ 